body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	align-items: center; /* Aligns items vertically */
	justify-content: space-between; /* Distributes space between items */
}

.b-logo {
	width: 100px;
	border-radius: 20px;
	margin-left: 55px;
}

.t-logo{
	width: 100px;
	margin-left: 55px;
}

.f-logo{
	width: 100px;
	margin-left: 55px;
}

.bl-logo{
	width: 65px;
	margin-left: 55px;
}


nav ul {
	list-style: none;
	display: flex;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	margin-left: 55px;
	line-height: 60px;
}

nav ul {
	list-style: none;
	margin-right: 55px;
	display: flex;
	align-items: center; /* Aligns items vertically */
}

nav li {
	margin-left: 20px; /* Adjusted margin for spacing */
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #ccc;
}

main {
	padding: 20px;
}

main h2{
	display: flex;
	justify-content: center;
	font-size: 30px
}

main p{
	margin: 50px;
	margin-top: 5px;
	font-size: 18px;
}
.img-links{
	margin-top: -120px;
	margin-bottom: 70px;
}
.img-links a img{
	width: 200px;
	height: 200px;
}

.main-para{
	margin: 150px;
}

.side{
	display: flex;
}

main .box-1{
	border: solid black 1px;
	height: auto;
	margin-left: 50px;
	flex: 1;
}

main h4{
	font-size: 25px;
	margin-left: 40px;
}

main .b-list{
	font-size: 18px;
	list-style: none;
	line-height: 25px;

}

main .blist{
	list-style: disc;
	font-size: 18px;
	margin-left: 30px;
	margin-top: -30px;
}

.p-bottom{
	flex: 3;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}